body{
    margin: 0;
    padding: 0;
    /* display: flex; */
    height: 100vh;
    /* overflow: hidden; */
    transition: background 0.3s ease-in-out; 
}
*{
    margin: 0;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
.top{
    color: #F8b195;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    
    width: 30%;
}
.nameWeb1{
    margin-left: auto; /* Đẩy Sign Up & Log In sang phải */
    display: flex;
    gap: 20px;
    margin-right: 10px;
    color: #F8b195;
    cursor: pointer;
}
.container{
    justify-content: space-between;
    height: 45px;
    align-items: center;
    background-color:#355c7d;
    display: flex;
    /* margin: 0; */
    /* padding: 15px 20px; */
}
.link{
    color: #F8b195;
    text-decoration: none;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.logo{
    width: 45px;
    height: 45px;
}
.content{
    display: flex;
    margin: 0;
    padding: 0;
}
.demo1{
    /* align-items: center;
    width: 50%;
    height: 200px;
    background-size: 100% 100%;
    border: 10px rgb(255, 254, 254);
    /* border-style: double; */
    /* border-radius: 50px;
    margin: 50px;
    background-color: #FE9677;
    display: flex;
    justify-content: center;
    justify-content: center;
    margin-top: none; */ */
    align-items: center;
    width: 160px;
    height: 75px;
    border: 10px white;
    border-radius: 15px;
    margin-top: none;
    margin-right: 5px;
    background-color: #0fa779;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.demo2{
    align-items: center;
    width: 160px;
    height: 75px;
    border: 10px white;
    border-radius: 15px;
    margin-top: none;
    margin-left: 5px;
    background-color: #7608cb;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.demo{
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    padding: 15px;
    width: 300px;
    /* background-size: 500px 500px; */
    border-radius: 15px;
    /* margin: 50px; */
    margin-bottom: 10px;
    flex-direction: column;
    background-color: #4076dc;
    
}

.title{
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}
.back{
    max-width: 100%;
    height: 100vh;
    background-color: #2C2C2E;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    /* margin-left: -300px;
    transition: margin-left 0.3s ease-in-out; */
    /* max-height: 100%; */
}
#menuIcon{
    display:none;
}
.menu{
    position: absolute;
    top: 45px;
    width: 45px;
    left: 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}
/* .menu span{
    display: block;
    height: 3px;
    width: 35px;
    transition: 0.3s;
    background-color:#F8b195;
    margin: 9px;
    border-radius: 10px;
} */
.menu i{
    color:#F8b195;
    padding: 10px;
    font-size: 40px;
}
.navi{
    position:absolute;
    top: 45px;
    background-color:#37373d;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    height: 100vh;
    min-width: 300px;
    left: -300px;
    transition: left 0.3s ease-in-out;
}
#menuIcon:checked ~ .navi {
    left: 0;
}
#menuIcon:checked ~ .back {
    overflow: hidden; /* Ẩn phần vượt quá */

    margin-left: 300px; /* Dịch nội dung sang phải 300px */
    width: calc(100% - 300px); /*Co lại theo kích thước menu*/
    margin-right: -300px;
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}
#menuIcon:checked ~ .menu{
    left: 300px;
    transition: left 0.3s ease-in-out;
}
.myself{
    position: absolute;
    bottom: 30px;
    margin-left: 30px;
    text-align: center;
    font-size: medium;
    color: #F8b195;
    padding: 0;
    width: 100;
    min-width: 270px;

}
.task{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    color: #F8b195;
    width: 100%;
    text-align: left;
    padding: 0;
    max-width: 270px;
}
.Cater{
    color: #F8b195;
}
.fun{
    margin: 0; 
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: #0fa779; */
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
}
/* .task div:hover , .myself div:hover{
    font-weight: bold;
    background-color: #1f1fc8;
    box-shadow:#0707f0;
    cursor: pointer;
    /* transition: background 0.3s; */
 */
.fun span{
    flex: 1;
    text-align: left;
}
.fun:hover{
    font-weight: bold;
    background-color:#355c7d;
    /* margin-left: -px; */
    
}

.authored{
    position: absolute;
    right: 10px;
    bottom: -40px;
    font-style:unset;
    font-size: 15px;
}
hr{
    width: 240px;
}
.log{
    width: 200px;
    border-radius: 50px;
    position: relative;
    bottom: 50px;
    /* mix-blend-mode: multiply;
    filter: hue-rotate(180deg); */
}
#click:hover{
    background-color:#42719a;
    border-radius: 5px;
}
